header
	.container
		.header-wrap
			.btn-showmenu
			.overlay
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.col-right
				nav.menu
					ul.menu-link
						li
							a(href="#!") Giới thiệu
						li
							a(href="#!") Dịch vụ
						li
							a(href="#!") Khuyến mãi
						li
							a(href="#!") Sản phẩm
						li
							a(href="#!") Kiến thức làm đẹp
				.language
					a(href="#!")
						img(src="img/en.png", alt="")
				.search
					.search-toggle
					.search-wrap
						.searchbox
							input(type="text" placeholder="Tìm kiếm...")
							button.searchbutton <i class="fas fa-search"></i>
				.contact
					a(href="#!") Liên hệ ngay